pkgbase = readest
	pkgdesc = Modern, feature-rich ebook reader
	pkgver = 0.12.10
	pkgrel = 2
	url = https://github.com/readest/readest
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	makedepends = librsvg
	makedepends = nodejs
	makedepends = npm
	makedepends = openssl
	makedepends = pkgconf
	makedepends = pnpm
	makedepends = webkit2gtk-4.1
	depends = alsa-lib
	depends = at-spi2-core
	depends = dbus
	depends = expat
	depends = fontconfig
	depends = gdk-pixbuf2
	depends = glib2
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxkbcommon-x11
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = systemd-libs
	optdepends = gst-plugins-bad: additional text-to-speech codecs
	noextract = cef_binary_151.3.24%2Bg2384915%2Bchromium-151.0.7922.174_linux64_minimal.tar.bz2
	noextract = cef_binary_151.3.24%2Bg2384915%2Bchromium-151.0.7922.174_linuxarm64_minimal.tar.bz2
	options = !lto
	options = !debug
	source = readest::git+https://github.com/readest/readest.git#tag=v0.12.10
	source = foliate-js::git+https://github.com/readest/foliate-js.git
	source = tauri::git+https://github.com/readest/tauri.git
	source = simplecc-wasm::git+https://github.com/readest/simplecc-wasm.git
	source = qcms::git+https://github.com/mozilla/pdf.js.qcms.git
	source = js-mdict::git+https://github.com/readest/js-mdict.git
	source = tauri-plugin-turso::git+https://github.com/readest/tauri-plugin-turso.git
	source = tauri-plugin-webview-upgrade::git+https://github.com/readest/tauri-plugin-webview-upgrade.git
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	source_x86_64 = https://cef-builds.spotifycdn.com/cef_binary_151.3.24%2Bg2384915%2Bchromium-151.0.7922.174_linux64_minimal.tar.bz2
	sha256sums_x86_64 = db53c43fdace8b7ee4af0f005120116d6973aa9d8eb7702c0617badf9be8684e
	source_aarch64 = https://cef-builds.spotifycdn.com/cef_binary_151.3.24%2Bg2384915%2Bchromium-151.0.7922.174_linuxarm64_minimal.tar.bz2
	sha256sums_aarch64 = 47965b9c36a5958bdd6d6fdb3fe3360f38d17d65914ef636abade14881cdc59b

pkgname = readest
